@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';
@import '../../../common/sass/mixins/breakpoints.scss';

.palette {
    position: relative;
    @include flex(center, space-between, column);
    height: 100%;
    width: $palette-width;
    background-color: $color-secondary-background;
    .top,
    .middle,
    .bottom {
        width: 100%;
    }

    .top {
        flex: $default-flex;
    }
    .bottom {
        @include flex(center, center, column);
        flex: 0.5;
        border-top: 1px solid $color-divider;
    }
}

.palette_hamburger_menu {
    display: none;
}

@include mobile-breakpoint {
    .palette {
        flex: 0.8;
        position: fixed;
        width: 75%;
        z-index: $z-index-shirt;
        overflow-y: auto;
        box-shadow: 0px 0px 0px 0px transparent;
        transition: all $transition-speed;
        left: -75%;
        &.open_mobile {
            box-shadow: 5px 0px 10px 5px $color-secondary-shadow;
            left: 0;
        }
    }
    .palette_hamburger_menu {
        display: flex;
    }
}
