@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';

.palette {
    @include flex(center, space-between, column);
    height: 100%;
    flex: 1;
    .top,
    .middle,
    .bottom {
        width: 100%;
        padding: $default-padding;
        box-sizing: border-box;
    }

    .top {
        flex: 1;
        border-bottom: 1px solid $color-primary-border;
        border-right: 1px solid $color-primary-border;
    }
    .middle {
        flex: $default-flex;
        border-bottom: 1px solid $color-primary-border;
        border-right: 1px solid $color-primary-border;
    }
    .bottom {
        @include flex(center, center, column);
        flex: 0.5;
        background-color: $color-highlight;
        .btn_settings {
            margin-bottom: $default-margin;
        }
    }
}
