@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';
@import '../../../common/sass/mixins/fades.scss';

@import '../../../common/sass/mixins/breakpoints.scss';

header {
    @include flex(center, flex-start, row);
    height: $navbar-height;
    background-color: $color-white;
    padding: 0 ($default-padding);
    width: 100%;

    .navbar_content_template {
        width: 100%;
        @include flex(center, space-between, row);
        .start {
            @include flex(center, flex-start, row);
            width: 100%;
            margin-right: $default-margin;
            align-self: flex-start;
            width: 100%;
        }
        .end {
            @include flex(center, flex-end, row);
            align-self: flex-end;
            width: 100%;
        }

        * {
            &:not(:last-of-type) {
                margin-right: $default-margin;
            }
        }
    }
}

@include mobile-breakpoint {
    header {
        overflow: auto;
        .navbar_content_template {
            .start {
                @include flex(center, flex-start, row);
                width: 100%;
                margin-right: $default-margin;
                align-self: flex-start;
                width: 100%;
            }
            .end {
                @include flex(center, flex-end, row);
                align-self: flex-end;
                width: 100%;
            }

            * {
                &:not(:last-of-type) {
                    margin-right: $default-margin;
                }
            }
        }
    }
}
