@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';
@import '../../../common/sass/mixins/fades.scss';

@import '../../../common/sass/mixins/breakpoints.scss';

.sort_bar {
    @include flex(center, flex-start, row);
    width: 100%;

    .dropdown:not(:last-of-type) {
        margin-right: $default-margin;
    }
}

.filter_bar_modal {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    width: 40vw;
    height: 100%;
    .filter_bar_wrapper {
        @include flex(flex-start, flex-start, column);
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: $default-margin;
        .filter_bar_list_header {
            margin-bottom: $default-margin / 2;
        }
        .filter_bar_list {
            @include flex(flex-start, flex-start, row);
            flex-wrap: wrap;
            width: 100%;
            li {
                margin: 0 $default-margin $default-margin 0;
            }
        }
    }
}

.chart_bar {
    position: relative;
    @include flex(center, flex-start, row);
    width: 100%;
    padding: $default-padding;
    .chart_bar_dropdowns {
        @include flex(center, flex-start, row);
        flex: 0.5;
        overflow-x: auto;
        padding: $default-padding 0;
        margin-right: $default-margin;
        .dropdown:not(:last-of-type) {
            margin-right: $default-margin;
        }
    }

    .chart_bar_selectors {
        flex: 0.4;
        @include flex(center, flex-start, row);
        .selector:not(:last-of-type) {
            margin-right: $default-margin;
        }
    }

    .chart_add_new_line_button {
        margin-left: auto;
        flex: 0.1;
    }
}
