@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';

$size: $height-xs * 1.5;
$shadow-h: 5px;
input[type='checkbox'] {
    display: none;

    + span {
        position: relative;
        @include flex(center, center, column);
        width: $size;
        height: $size;
        background: $color-white left top no-repeat;
        border: 1px solid $color-border;
        border-radius: $default-border-radius;
        cursor: pointer;
        transition: all $transition-speed;
        box-shadow: $shadow-h $shadow-h $color-background-back;

        svg {
            path {
                color: $color-secondary;
            }
        }
        &:hover {
            border-radius: $border-radius-none;
        }
    }
    &:checked + span {
        border: 1px solid $color-primary;
        background-color: $color-primary;
        box-shadow: 0px 0px $color-background-back;
        svg {
            path {
                color: $color-secondary;
            }
        }
        &:hover {
            border-radius: $border-radius-none;
        }
    }
}
