@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';
@import '../../../common/sass/mixins/breakpoints.scss';

.modal {
    bottom: $default-app-spacing;
    right: 0;
    position: fixed;
    @include flex(center, center, column);
    min-width: $modal-min-width;
    height: calc(100vh - #{$navbar-height} - #{$default-app-spacing * 2});
    background: $color-primary-background;
    transition: all $transition-modal-speed;
    padding: $spacing-m;
    z-index: $z-index-shirt;
    transform: translateX($modal-max-width);
    border-radius: $border-radius-none;
    box-shadow: 0px 0px 0px 0px transparent;
    opacity: 0;

    &.active {
        opacity: 1;
        transform: translateX(0);
        border-top-left-radius: $border-radius-m;
        border-bottom-left-radius: $border-radius-m;
        box-shadow: 0px 0px 15px 5px $color-primary-shadow;
    }

    .header_close__hide {
        display: none;
    }
    .header_close {
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
    }
    .modal_content {
        @include flex(center, center, column);
        width: 100%;
        overflow-y: auto;
    }
}
