@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';
@import '../../../common/sass/mixins/fades.scss';

.alert {
    right: $default-margin;
    position: absolute;
    @include flex(flex-end, flex-start, column);
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    background: transparent;
    transition: all $transition-modal-speed;
    z-index: $z-index-hat;
    bottom: 0;
    border-radius: $border-radius-none;

    .alert_log {
        @include flex(center, center, column);
        margin: $spacing-xs;
        min-height: $height-m;
        border-radius: $border-radius-m;
        padding: 0 $spacing-m;
        &.fade_out {
            transition: all $transition-speed;
            opacity: 0;
        }
        &.error {
            background: linear-gradient(35deg, $color-alert, $color-highlight);
        }
        &.action {
            background: linear-gradient(35deg, $color-error, $color-highlight);
        }
        &.information {
            background: linear-gradient(35deg, $color-focus, $color-highlight);
        }
    }
    &.active {
        bottom: 0;
        transition: all $transition-modal-speed;
    }

    .header {
        position: absolute;
        top: $spacing-m;
        right: $spacing-m;
    }

    .alert_content {
        width: 100%;
        height: 100%;
        transition: all $transition-modal-speed;
        @include flex(flex-end, center, column);
    }
}
