@import '../../../../common/sass/metrics.scss';
@import '../../../../common/sass/colors.scss';

.table_spot {
    display: grid;
    width: 100%;
    .table_headings,
    .table_content {
        display: grid;
    }
    .table_headings {
        height: $height-m;
    }
    .table_content {
        height: $height-m;
    }
}
