/** MAIN */
$color-primary: rgba(45, 52, 54, 1);
$color-secondary: #ffffff;

$color-highlight: rgba(225, 112, 85, 1);
$color-highlight-back: rgba(225, 112, 85, 0.5);

$color-error: #c0392b;
$color-alert: #ffc700;

$color-primary-shadow: rgba(178, 190, 195, 1);
$color-secondary-shadow: #4a4a4a;

$color-overlay: rgba(126, 131, 131, 0.5);
$color-disabled: #7f8c8d;

$color-primary-background: rgba(255, 255, 255, 1);
$color-secondary-background: rgba(45, 52, 54, 1);

$color-primary-background-back: rgba(0, 0, 0);
$color-secondary-background-back: rgba(44, 62, 80, 0.5);

$color-primary-border: rgba(45, 52, 54, 0.25);
$color-secondary-border: $color-secondary;
