@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';

$input-height: $height-s;
$input-temp-height: $height-m;

$label-padding: 1px $spacing-s;

$label-shown-pos: ($height-s / 3);
$error-shown-pos: ($height-s / 4);

.input_wrapper {
    @include flex(flex-start, center, column);
    position: relative;

    input {
        padding: $spacing-none $spacing-s;
        height: $input-height;
        transition: all $transition-speed;
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid $color-border;
        width: 100%;
        font-size: $font-size-m;
        background-color: $color-white;
        &:not(:placeholder-shown) + label {
            transition: all $transition-speed;
            position: absolute;
            top: -$label-shown-pos;
            opacity: 1;
        }
        &:hover,
        &:focus {
            border-bottom: 3px solid $color-focus;
        }
        &:disabled {
            pointer-events: none;
            border-bottom: 1px solid transparent;
        }
    }

    label,
    .error {
        // border-radius: $border-radius-s;
        padding: $label-padding;
        transition: all $transition-speed;
        position: absolute;
        opacity: 0;
        font-size: $font-size-s;
    }

    label {
        top: 0;
        left: -1px;
    }

    .error {
        right: 0;
        bottom: 0;
        transition: all $transition-speed;
        background-color: $color-error;
    }

    .error_show {
        transition: all $transition-speed;
        bottom: -$error-shown-pos;
        opacity: 1;
    }

    &.disabled {
        pointer-events: none;
        border: none;
        border-bottom: 1px solid transparent;
    }

    &.primary {
        color: $color-primary;
        background-color: $color-background;
    }

    &.temp {
        input {
            padding-bottom: $input-temp-height / 2;
            text-decoration: line-through;
            color: $color-error;
            height: $input-temp-height;
            font-style: italic;
        }
        .temp_value {
            position: absolute;
            left: $spacing-s;
            top: $input-temp-height / 2;
            font-weight: bold;
        }
    }
}
