@import '../../common/sass/colors.scss';
@import '../../common/sass/metrics.scss';
@import '../../common/sass/mixins/flex.scss';
@import '../../common/sass/mixins/breakpoints.scss';

.bar_layout {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    height: auto;

    .bar_content {
        width: 100%;
        opacity: 0;
        height: 0;
        box-sizing: content-box;
        overflow: hidden;
    }

    &.open {
        .bar_content {
            opacity: 1;
            height: 100%;
        }
    }
}

.bar_element {
    width: 100%;
    @include flex(center, space-between, row);
    padding: $default-padding 0;
    .start {
        @include flex(center, flex-start, row);
        width: 100%;
        margin-right: $default-margin;
        height: 100%;
        *:nth-child(n + 3) {
            margin-left: $default-margin;
        }
    }
    .end {
        @include flex(center, flex-end, row);
        margin-left: auto;
        button {
            margin-left: $default-margin;
        }
    }
}

.bar_heading {
    width: 100%;
    @include flex(center, space-between, row);
    .left {
        @include flex(center, flex-start, row);
        width: 100%;
        margin-right: $default-margin;
        .bar_heading_heading {
            @include flex(center, flex-start, row);
            width: 100%;
            .bar_heading_description,
            .bar_heading_meta {
                margin-left: $default-margin * 2;
                padding-left: $default-padding;

                border-left: 1px solid $color-primary-border;
            }
        }
    }
    button {
        &:not(:last-of-type) {
            margin-right: $default-margin;
        }
    }
    .dropdown {
        margin-top: $default-margin;
        &:not(:last-of-type) {
            margin-right: $default-margin;
        }
    }
    .right {
        @include flex(center, flex-end, row);
    }
}

@include mobile-breakpoint {
    .bar_element {
        width: 100%;
        @include flex(flex-start, flex-start, row);
        .start {
            @include flex(flex-start, flex-start, column);
            *:nth-child(n) {
                margin: 0 0 $default-margin / 4 0;
            }
        }
        .end {
            @include flex(center, flex-end, row);
            button {
                margin-left: $default-margin / 4;
            }
        }
    }
}
