@import '../../../../common/sass/mixins/flex.scss';
@import '../../../../common/sass/metrics.scss';
@import '../../../../common/sass/colors.scss';
@import '../../../../common/sass/mixins/breakpoints.scss';

.input_list_form {
    @include flex(flex-start, flex-start, column);
}
.input_list_container {
    width: 100%;
    padding: $default-padding * 2 0 0 0;
    @include flex(flex-start, flex-start, row);
    flex-wrap: wrap;
    li {
        &.line_break {
            width: 100%;
            flex-basis: 100%;
            .p {
                text-transform: capitalize;
            }
        }
        &:not(:last-of-type) {
            margin: 0 $default-margin $default-margin 0;
        }
    }
    .bar_element {
        margin-bottom: $default-margin;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid $color-primary-border;
    }
}
.input_list_bar_description {
    @include flex(center, flex-start, row);
    flex-wrap: wrap;
    width: 100%;
    .input_list_selector {
        margin-right: $default-margin;
    }
}

.input_list_selector {
    margin-right: $default-margin;
    transition: all $transition-speed;
    width: auto;

    &.hide {
        margin-right: 0px;
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
}

@include mobile-breakpoint {
    .input_list_container {
        padding: $default-padding 0;
        @include flex(flex-start, flex-start, column);
        li {
            width: 100%;

            &:not(:last-of-type) {
                margin: 0 0 $default-margin 0;
            }
        }
    }
}
