@import '../../common/sass/colors.scss';
@import '../../common/sass/metrics.scss';
@import '../../common/sass/mixins/flex.scss';

.comp_layout {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    height: auto;
    padding: $default-padding $default-padding * 2;
    box-sizing: border-box;
    border-radius: $default-border-radius;
    background-color: $color-white;

    &:not(:last-of-type) {
        margin-bottom: $default-margin;
    }
}
