@import '../common/colors.scss';
@import '../common/metrics.scss';
@import '../common/mixins/flex.scss';

.alert {
    left: 50%;
    position: fixed;
    @include flex(center, center, column);
    min-width: $alert-min-width;
    min-height: $alert-min-height;
    background: $color-alert;
    transition: all $transition-modal-speed;
    padding: $spacing-m;
    z-index: $z-index-hat;
    transform: translate(-50%, -$alert-max-height);
    top: -$alert-max-height;
    border-radius: $border-radius-none;
    box-shadow: 0px 0px 0px 0px transparent;

    &.active {
        top: 0;
        transform: translate(-50%, 0);
        border-bottom-left-radius: $border-radius-m;
        border-bottom-right-radius: $border-radius-m;
        transition: all $transition-modal-speed;
        box-shadow: 0px -5px 20px 10px $color-primary-shadow;
    }

    .header {
        position: absolute;
        top: $spacing-m;
        right: $spacing-m;
    }
}
