@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';

$shadow-h: 5px;

.button {
    @include flex(center, center, row);
    border: none;
    border-radius: $border-radius-s;
    padding: $spacing-xxs $spacing-s;
    height: $height-m;
    box-sizing: border-box;
    cursor: pointer;
    transition: all $transition-speed;
    margin-bottom: $shadow-h;
    &.primary {
        color: $color-primary;
        background-color: $color-primary-background;
        box-shadow: $shadow-h $shadow-h $color-primary-background-back;

        .icon {
            path {
                fill: $color-primary;
            }
        }
    }

    &.secondary {
        color: $color-secondary;
        background-color: $color-secondary-background;
        box-shadow: $shadow-h $shadow-h $color-secondary-background-back;
        .text {
            color: $color-secondary;
        }
        .icon {
            path {
                fill: $color-secondary;
            }
        }
    }

    &.highlight {
        color: $color-secondary;
        background-color: $color-highlight;
        box-shadow: $shadow-h $shadow-h $color-highlight-back;
        .text {
            color: $color-secondary;
        }
        .icon {
            path {
                fill: $color-secondary;
            }
        }
    }
    &:active {
        transform: translate(5px, 5px);
        box-shadow: 0px 0px transparent;
    }
    &.mini {
        border-radius: $border-radius-s;
        padding: $spacing-xxs $spacing-xs;
        height: auto;
    }

    &:hover {
        border-radius: $border-radius-none;
    }

    &.disabled {
        pointer-events: none;
        background-color: $color-disabled;
        box-shadow: 1px 1px $color-highlight-back;
    }
}
