@import '../../../common/sass/mixins/flex.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/colors.scss';

$bar-margin: $default-margin * 2;

.bars_item_heading {
    @include flex(center, flex-start, row);
    width: 100%;
    .bars_item_description,
    .bars_item_meta {
        margin-left: $bar-margin;
        padding-left: $default-padding;

        border-left: 1px solid $color-primary-border;
    }
}

.incoming_item_form {
    @include flex(flex-start, flex-start, column);
    .bars_incoming_item {
        width: 100%;
        &:first-of-type {
            margin-top: $bar-margin;
        }
        &:not(:last-of-type) {
            margin-bottom: $bar-margin;
        }
        .bars_incoming_item_description {
            @include flex(center, flex-start, row);
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: $default-margin;
            .bars_incoming_item_title {
                margin-left: $default-margin;
            }
        }
        .bars_incoming_item_list {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: $default-padding;
            column-gap: $default-padding;
        }
    }
}
