@import '../common/colors.scss';
@import '../common/metrics.scss';
.text {
    width: auto;
    padding: $spacing-none;
    margin: $spacing-none;
}
.line {
    white-space: nowrap;
}

.s {
    font-size: $header-size-s;
}

.m {
    font-size: $header-size-m;
}

.l {
    font-size: $header-size-l;
}

.xl {
    font-size: $header-size-xl;
}
.primary {
    color: $color-primary;
}

.secondary {
    color: $color-secondary;
}
