@import '../common/metrics.scss';
@import '../common/mixins/aspectRatio.scss';
@import '../common/mixins/flex.scss';

.image {
    overflow: hidden;
    position: relative;
    border-radius: $border-radius-xs;
    margin: 0;

    img {
        @include aspect-ratio-child();
    }
}
.blur img {
    filter: blur(10px);
    transition: blur $transition-speed;
}
.no_blur img {
    filter: none;
    transition: filter $transition-speed ease-out;
}

.thirty-nine {
    @include aspect-ratio(30/9);
}

.twentyone-nine {
    @include aspect-ratio(21/9);
}

.sixteen-nine {
    @include aspect-ratio(16/9);
}
.three-two {
    @include aspect-ratio(3/2);
}
