@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@mixin styleLink() {
    color: $color-secondary;
    background-color: $color-highlight;
    svg {
        path {
            fill: $color-secondary;
        }
    }
}
.link {
    transition: all $transition-speed;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        @include styleLink();
    }
    &:active {
        transform: translateY($active-size);
    }
}

.reach_link .active {
    transition: all $transition-speed;
    pointer-events: none;
    cursor: default;
    .link {
        @include styleLink();
        font-weight: $font-weight-bold;
    }
}

.fake_link {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.link_list {
    width: 100%;
    li .text {
        border-bottom: 1px solid $color-divider;
        padding: $default-padding * 1.5 0;
    }
    &.mini {
        li .text {
            padding: $default-padding 0;
        }
    }
}
