@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@mixin styleLink($color) {
    color: $color-secondary;
    background-color: $color;
    svg {
        path {
            fill: $color-secondary;
        }
    }
}
.link {
    transition: all $transition-speed;
    white-space: nowrap;
    cursor: pointer;
}

.react_link {
    transition: all $transition-speed;
    &:hover,
    &:focus {
        .link {
            @include styleLink($color-focus);
        }
    }
    &.is-active {
        pointer-events: none;
        cursor: default;
        .link {
            @include styleLink($color-highlight);
            font-weight: $font-weight-bold;
        }
    }
}

.fake_link {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.link_list {
    width: 100%;
    li .text {
        padding: $default-padding * 1.5 0;
    }
    &.mini {
        li .text {
            padding: $default-padding 0;
        }
    }
}
