@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';
@import '../../../common/sass/mixins/flex.scss';

$input-height: $height-s;
$label-padding: 1px $spacing-s;

$label-shown-pos: ($height-s / 3);
$error-shown-pos: ($height-s / 4);

$input-border: 1px solid $color-border;

.dropdown {
    @include flex(flex-start, center, column);
    position: relative;

    select {
        padding: $spacing-none $spacing-s;
        height: $input-height;
        border: none;
        border-bottom: 1px solid $color-border;
        box-sizing: border-box;
        font-size: $font-size-m;
        &:hover,
        &:focus {
            border-bottom: 3px solid $color-focus;
        }
    }

    label {
        top: 0;
        left: 0;
        padding: $label-padding;
        position: absolute;
        top: -$label-shown-pos;
        opacity: 1;
        font-size: $font-size-s;
    }

    &.primary {
        color: $color-primary;
        background-color: $color-background;
        border: 1px solid $color-border;
    }

    &.mini {
        @include flex(center, center, row);
        label {
            left: auto;
            top: auto;
            padding: 0;
            position: relative;
            opacity: 1;
            font-size: $font-size-s;
        }
    }

    // &.secondary {
    //     color: $color-secondary;
    //     background-color: $color-secondary-background;
    //     border: 1px solid $color-secondary-border;
    // }
}
