@import './common/metrics.scss';
@import './common/mixins/flex.scss';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Ubuntu;
}

p,
a,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
#__next {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;

    .content {
        @include flex(flex-start, flex-start, row);
        width: 100%;
        height: calc(100vh - #{$navbar-height});
    }
}
